{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    background: #ffffffc7;
    padding: 30px 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1b1b1b;
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
    display: block;
}


ul li a:hover {
    background: #2b80ff;
    color: white;
    transform: translateX(6px);
    box-shadow: 0 5px 15px rgba(0, 110, 255, 0.3);