body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    color: #fff;
    padding: 1rem 0;
    text-decoration: double;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
    font-weight: 500;
    letter-spacing: 2px;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 30px;
    justify-items: center;
}

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    filter: grayscale(100%) brightness(80%);
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.galeria img:hover {
    filter: none;
    transform: scale(1.03);
}


footer {
    background-color: #111;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    margin-top: 20px;
}