.barra {
  background-color: black;
  height: 50px;
}

main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1,h2{text-align: center;
  font-weight: 100;}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

article {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}

article img {
  display: block;
  width: 130%;
  max-width: none;
  margin: 40px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section img {
  display: block;
  width: 110%;
  max-width: none;
  margin: 40px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 2;
  font-weight: 100;
  text-align: center;
}
